{% extends "base.html" %}
{% load static %}
{% block page_heading %}
    Projects Summary
{% endblock %}

{% block heading_content %}
    List Projects
{% endblock %}

{% block page_content %}
<div class="container mt-5">

    {% for project in projects %}
    <!-- Project Card -->
    <div class="project-card">
        <h5 class="mb-0" onclick="toggleTasks({{ forloop.counter }})" style="cursor: pointer;">
        {{ project.project_name }}
        </h5>
        <div id="task-list-{{ forloop.counter }}" class="task-list" style="display:none;">
            <ul class="list-group mt-3">
                {% for task in project.tasks.all %}
                <li class="list-group-item">
                    <strong>Task:</strong> {{ task.task_name }}<br>
                    <strong>Duration:</strong> {{ task.efforts }} Days<br>
                    <strong>Deadline:</strong> {{ task.deadline|date:"jS F Y" }}<br>

                    <!-- Steps for the Task -->
                    <ul>
                        {% for step in task.steps.all %}
                        <li>{{ step.step_description }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
